body {
  background-color: #FFE5B4;
}

p {
  font-family: "Arial", Helvetica, sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  color: #FF0000;
  background-image: url("images/creamcheese.jpg");
  background-size: 200px 100px;
  border: 3px ridge #330000;
  box-shadow: 5px 5px 5px #828282;
}

title {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: 50px;
  margin-left: 50px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.column {
  float: left;
  width: 50%;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

.hlink:hover {
  color: green;
  background-color: ghostwhite;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .column {
    width: 100%;
  }

  h2 {
    color: #000; / Change h2 color for mobile /
  }

  .hlink {
    font-size: 14px; / Adjust link font size for mobile */
  }
}